In [1]:
import pandas as pd
import datetime

In [2]:
#Read customer's dataset
olist_orders_df = pd.read_csv('data/olist_orders_dataset.csv')
olist_orders_df = olist_orders_df[['order_id','customer_id', 'order_purchase_timestamp']]
olist_items_df = pd.read_csv('data/olist_order_items_dataset.csv')
olist_items_df = olist_items_df[['order_id', 'product_id', 'price']]
olist_products_df = pd.read_csv('data/olist_products_dataset.csv')
olist_products_df.head()
olist_orders_df = olist_orders_df.merge(olist_items_df, how = "left", on = "order_id")
olist_products_df.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [3]:
olist_products_df = olist_products_df[['product_id', 'product_category_name']]
olist_products_df.head()
olist_orders_df = olist_orders_df.merge(olist_products_df, how = 'left', on = 'product_id')
olist_orders_df.head()

,order_id,customer_id,order_purchase_timestamp,product_id,price,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,aa4383b373c6aca5d8797843e5594415,159.90,automotivo
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria

In [4]:
olist_english_products = pd.read_csv('data/product_category_name_translation.csv')
olist_orders_df = olist_orders_df.merge(olist_english_products, how = "left", on = 'product_category_name')
olist_orders_df.head()

,order_id,customer_id,order_purchase_timestamp,product_id,price,product_category_name,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,housewares
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,perfumery
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,aa4383b373c6aca5d8797843e5594415,159.90,automotivo,auto
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria,stationery

In [5]:
olist_customer_df = pd.read_csv('data/olist_customers_dataset.csv')
olist_customer_df = olist_customer_df[['customer_id','customer_unique_id','customer_city','customer_state']]
olist_customer_df.head()
olist_orders_df = olist_orders_df.merge(olist_customer_df, how = 'left', on = 'customer_id')

In [6]:
olist_orders_df['order_purchase_timestamp'] = pd.to_datetime(olist_orders_df['order_purchase_timestamp'], format="%Y-%m-%d %H:%M:%S")

In [7]:
olist_orders_df['order_purchase_month'] = olist_orders_df['order_purchase_timestamp'].apply(lambda x: x.month)

In [8]:
olist_month_split = olist_orders_df.groupby(['order_purchase_month'], as_index=False).groups

In [9]:
#Data split into months. Dictionary where index is month number and indices of rows are stored as a list
olist_month_split

{1: Int64Index([     8,     17,     24,     70,     71,    104,    121,    122,
                134,    136,
             ...
             113300, 113330, 113343, 113350, 113363, 113370, 113382, 113417,
             113422, 113423],
            dtype='int64', length=9223),
 2: Int64Index([     4,     23,     26,     31,     35,     37,     38,     52,
                 67,     72,
             ...
             113322, 113333, 113339, 113353, 113371, 113381, 113383, 113399,
             113418, 113420],
            dtype='int64', length=9704),
 3: Int64Index([    15,     22,     29,     41,     60,     61,     62,    113,
                119,    138,
             ...
             113345, 113346, 113347, 113349, 113378, 113390, 113407, 113412,
             113419, 113424],
            dtype='int64', length=11281),
 4: Int64Index([     6,     33,     68,     69,     80,     83,     84,     85,
                 86,     87,
             ...
             113335, 113351, 113356, 113359, 113365, 113366, 113368, 113369,
             113372, 113394],
            dtype='int64', length=10677),
 5: Int64Index([     7,     10,     11,     30,     42,     47,     48,     49,
                 97,    103,
             ...
             113337, 113338, 113355, 113358, 113360, 113387, 113389, 113404,
             113408, 113409],
            dtype='int64', length=12121),
 6: Int64Index([    13,     16,     27,     28,     40,     46,     53,     58,
                 59,     63,
             ...
             113319, 113327, 113341, 113357, 113379, 113384, 113386, 113398,
             113402, 113410],
            dtype='int64', length=10696),
 7: Int64Index([     1,      5,      9,     12,     14,     36,     39,     50,
                 54,     55,
             ...
             113253, 113255, 113291, 113312, 113326, 113344, 113361, 113380,
             113392, 113403],
            dtype='int64', length=11687),
 8: Int64Index([     2,     25,     32,     44,     45,     51,     57,     65,
                 91,     92,
             ...
             113362, 113364, 113374, 113375, 113376, 113377, 113388, 113395,
             113396, 113421],
            dtype='int64', length=12256),
 9: Int64Index([    21,     79,     88,     89,    106,    124,    132,    148,
                167,    205,
             ...
             113109, 113123, 113139, 113160, 113169, 113173, 113219, 113235,
             113324, 113391],
            dtype='int64', length=4896),
 10: Int64Index([     0,     20,     99,    150,    151,    191,    301,    369,
                399,    410,
             ...
             113217, 113230, 113246, 113297, 113397, 113401, 113405, 113413,
             113415, 113416],
            dtype='int64', length=5768),
 11: Int64Index([     3,     19,     43,     64,     66,    112,    125,    131,
                144,    145,
             ...
             113313, 113331, 113340, 113367, 113373, 113385, 113393, 113400,
             113406, 113411],
            dtype='int64', length=8758),
 12: Int64Index([    18,     34,     56,     95,    100,    108,    153,    192,
                202,    215,
             ...
             113184, 113215, 113220, 113244, 113266, 113295, 113323, 113332,
             113352, 113414],
            dtype='int64', length=6358)}